<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>The Simpsons Database</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  </head>

  <body>
    <nav class="menu-container">
      <a href="/" class="menu-logo">
        <img src="/assets/images/logo.png" alt="TheSimpsonsDatabase" />
      </a>
      <div class="menu">
        <ul>
          <li>
            <a href="/"> TheSimpsonsDatabase </a>
          </li>
          <li>
            <a href="/search"> Search </a>
          </li>
        </ul>
        <ul>
          <% if (username == "") { %>
          <li>
            <a href="/register"> Register </a>
          </li>
          <li>
            <a href="/login"> Login </a>
          </li>
          <% } else { %>
          <li>
            <a href="/user" class="useNormalFont"> <%= username %> </a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <div class="contentarticle">
      <article>
        <header>
          <h2>Episode</h2>
          <p class="episodeNav"><%= idstring %></p>

          <a
            href="/episode?id=<%= episodeData.noOverall - 1 %>"
            class="episodeNav"
            >Previous</a
          >
          <a
            href="/episode?id=<%= episodeData.noOverall + 1 %>"
            class="episodeNav"
            >Next</a
          >
        </header>
        <section>
          <div class="formdatanomsg">
            <div class="inputdata">
              <label for="name">Name</label>
              <input
                id="name"
                readonly
                value="<%= episodeData.names[lang] %>" />
            </div>
            <div class="inputdata">
              <label for="premiere">Premiere</label>
              <input
                id="premiere"
                readonly
                value="<%= episodeData.premieres[lang] %>" />
            </div>
            <% if (watched) { %>
            <div class="inputdata">
              <label for="seen">Watched</label>
              <input id="seen" readonly value="Yes ✔️" />
            </div>
            <% } else if (watched != null) { %>
            <div class="inputdata">
              <label for="seen">Watched</label>
              <input id="seen" readonly value="No ❌" />
            </div>
            <% } %>
          </div>
          <div class="formdatanomsg">
            <form action="#" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input
                id="episodeId"
                type="hidden"
                name="episodeId"
                value="<%= episodeData.noOverall %>" />
              <div class="formdata">
                <div class="inputdata">
                  <label for="direction">Directed by</label>
                  <input
                    id="direction"
                    readonly
                    value="<%= episodeData.direction %>" />
                </div>
                <div class="inputdata">
                  <label for="screenplay">Screenplay</label>
                  <input
                    id="screenplay"
                    readonly
                    value="<%= episodeData.screenplay %>" />
                </div>
                <% if (username != "") { %>
                <div class="inputdata">
                  <% if (!watched) { %>
                  <button type="submit" value="markwatched" name="action">
                    Mark as watched
                  </button>
                  <% } else { %>
                  <button type="submit" value="markunwatched" name="action">
                    Mark as unwatched
                  </button>
                  <% } %>
                </div>
                <% } %>
              </div>
            </form>
          </div>
        </section>
        <div class="clearfix"></div>
      </article>
    </div>

    <footer>
      <a href="https://github.com/MaximMaximS/TheSimpsonsDatabase">
        <img src="/assets/images/github.png" alt="github" /></a
      >By <em>MaximMaximS</em>
    </footer>
  </body>
</html>
