<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Simpsons Database</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>

<body>
    <nav class="menu-container">
        <a href="" class="menu-logo">
            <img src="/assets/images/logo.png" alt="TheSimpsonsDatabase" />
        </a>
        <div class="menu">
            <ul>
                <li>
                    <a href="/">
                        TheSimpsonsDatabase
                    </a>
                </li>
                <li>
                    <a href="/search">
                        Search
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/register">
                        Register
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="contentarticle">
        <article>
            <header>
                <h2>Login</h2>
            </header>
            <section>
                <div class="sectioncontent">
                    <p>
                        <%= message %>
                    </p>
                    <div class="inputform">
                        <form action="#" method="POST">
                            <div class="formdata">
                                <div class="inputdata">
                                    <label for="username">Username: </label>
                                    <input id="username" type="text" name="username">
                                </div>
                                <div class="inputdata">
                                    <label for="password">Password: </label>
                                    <input id="password" type="password" name="password">
                                </div>
                                <div class="inputdata">
                                    <button type="submit" value="login" name="action">Log In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>
        </article>
    </div>


    <footer>
        <div class="footer">By <em>MaximMaximS</em></div>
    </footer>
</body>

</html>