<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Simpsons Database</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  </head>

  <body>
    <nav class="menu-container">
      <a href="/" class="menu-logo">
        <img src="/assets/images/logo.png" alt="TheSimpsonsDatabase" />
      </a>
      <div class="menu">
        <ul>
          <li>
            <a href="/"> TheSimpsonsDatabase </a>
          </li>
          <li>
            <a href="/search"> Search </a>
          </li>
        </ul>
        <ul>
          <% if (username=="" ) { %>
          <li>
            <a href="/register"> Register </a>
          </li>
          <li>
            <a href="/login"> Login </a>
          </li>
          <% } else { %>
          <li>
            <a href="/user" class="useNormalFont"> <%= username %> </a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <div class="contentarticle">
      <article>
        <header>
          <h2>Search</h2>
          <h3>by Number</h3>
        </header>
        <section>
          <p class="contentMessage"><%= messages.num %></p>
          <div class="formdata">
            <form action="#" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="inputdata">
                <label for="seasonByNum">Season</label>
                <input
                  id="seasonByNum"
                  type="number"
                  name="seasonByNum"
                  value="<%= searchData.seasonByNum %>" />
              </div>
              <div class="inputdata">
                <label for="episodeByNum">Episode</label>
                <input
                  id="episodeByNum"
                  type="number"
                  name="episodeByNum"
                  value="<%= searchData.episodeByNum %>" />
              </div>
              <div class="inputdata">
                <button type="submit" value="searchByNum" name="action">
                  Search by Number
                </button>
              </div>
            </form>
          </div>

          <% if ((parseInt(searchData.episodeIdByNum) || 0)) { %>
          <div class="formdata">
            <form action="#" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="formdata">
                <input
                  id="episodeIdByNum"
                  type="hidden"
                  name="episodeIdByNum"
                  value="<%= searchData.episodeIdByNum %> " />
                <div class="inputdata">
                  <label for="nameByNum">Name</label>
                  <input
                    id="nameByNum"
                    type="text"
                    name="nameByNum"
                    value="<%= searchData.nameByNum %>"
                    readonly />
                </div>
                <div class="inputdata">
                  <button type="submit" value="detailsByNum" name="action">
                    Details
                  </button>
                </div>
              </div>
            </form>
          </div>
          <% } %>
        </section>
        <div class="clearfix"></div>
      </article>
    </div>
    <div class="contentarticle">
      <article>
        <header>
          <h2>Search</h2>
          <h3>by Name</h3>
        </header>
        <section>
          <p class="contentMessage"><%= messages.name %></p>

          <div class="formdata">
            <form action="#" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="inputdata">
                <label for="nameByName">Name</label>
                <input
                  id="nameByName"
                  type="text"
                  name="nameByName"
                  value="<%= searchData.nameByName %>" />
              </div>
              <div class="inputdata">
                <button type="submit" value="searchByName" name="action">
                  Search by Name
                </button>
              </div>
            </form>
          </div>

          <% if ((searchData.episodesByName || {}).length || 0) { %>
          <div class="formdata">
            <div class="inputdata">
              <label for="selectByName">Select episode</label>
              <select id="selectByName" name="selectByName" form="episodeform">
                <% for ( var i=0; i < searchData.episodesByName.length; i++ ) {
                %>
                <option
                  value="<%=searchData.episodesByName[ i ]._id %>"
                  label="<%=searchData.episodesByName[ i ].names[searchData.lang] %>"></option>
                <% } %>
              </select>
            </div>
            <form action="#" method="POST" id="episodeform">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="formdata">
                <div class="inputdata">
                  <button type="submit" value="detailsByName" name="action">
                    Details
                  </button>
                </div>
              </div>
            </form>
          </div>
          <% } %>
        </section>
        <div class="clearfix"></div>
      </article>
    </div>

    <footer>
      <a href="https://github.com/MaximMaximS/TheSimpsonsDatabase">
        <img src="/assets/images/github.png" alt="github" /></a
      >By <em>MaximMaximS</em>
    </footer>
  </body>
</html>
