<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>The Simpsons Database</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  </head>

  <body>
    <nav class="menu-container">
      <a href="" class="menu-logo">
        <img src="/assets/images/logo.png" alt="TheSimpsonsDatabase" />
      </a>
      <div class="menu">
        <ul>
          <li>
            <a href="/"> TheSimpsonsDatabase </a>
          </li>
          <li>
            <a href="/search"> Search </a>
          </li>
        </ul>
        <ul>
          <% if (username == ""){ %>
          <li>
            <a href="/register"> Register </a>
          </li>
          <li>
            <a href="/login"> Login </a>
          </li>
          <% } else{ %>
          <li>
            <a href="/user" class="useNormalFont"> <%= username %> </a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <div class="contentarticle">
      <article>
        <header>
          <h2>Search</h2>
        </header>
        <section>
          <form action="#" method="POST">
            <div class="formdata">
              <div class="episodedata">
                <label for="season">Season: </label>
                <input
                  id="season"
                  type="number"
                  name="season_field"
                  value="<%= season %>"
                />
              </div>
              <div class="episodedata">
                <label for="episode">Episode: </label>
                <input
                  id="episode"
                  type="number"
                  name="episode_field"
                  value="<%= episode %>"
                />
              </div>
              <div class="episodedata">
                <button type="submit" value="search" name="action">
                  Search
                </button>
              </div>
            </div>
            <div class="formdata">
              <div class="episodedata">
                <span class="resultPrefix">Name: </span>
                <span class="resultText"><%= nameCzech %></span>
              </div>
              <div class="episodedata">
                <span class="resultPrefix">Seen by: </span>
                <span class="resultText"><%= seenBy %></span>
              </div>

              <div class="episodedata">
                <select name="seener">
                  <% for(var a=0; a < seeners.length; a++) { %>
                  <option value="<%= a %>"><%= seeners[a] %></option>
                  <% } %>
                </select>
              </div>
              <div class="episodedata">
                <button type="submit" value="mark" name="action">Mark</button>
              </div>
            </div>
          </form>
        </section>
        <div class="clearfix"></div>
      </article>
    </div>

    <footer>
      <div class="footer">By <em>MaximMaximS</em></div>
    </footer>
  </body>
</html>
