<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Simpsons Database</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/text/style.css" />
</head>

<body>
    <div class="navbar">
        <div class="barlogo">
            <h1>The Simpsons Database</h1>
        </div>
        <div class="navlist">
            <div class="navitema"><a href="/">Search</a></div>
            <div class="navitem"><a href="/login.html">Login</a></div>
            <div class="navitem"><a href="/register.html">Register</a></div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="contentarticle">
        <article>
            <header>
                <h2>/* Title */</h2>
            </header>
            <section>
                <div class="sectioncontent">
                    <div class="inputform">
                        <form action="#" method="POST">
                            <div class="formdata">
                                <div class="inputdata">
                                    <label for="username">Username: </label>
                                    <input id="username" type="text" name="username_field">
                                </div>
                                <div class="inputdata">
                                    <label for="password">Password: </label>
                                    <input id="password" type="password" name="password_field">
                                </div>
                                <div class="inputdata">
                                    <button type="submit" value="login" name="action">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="resultdata">
                        <span class="resultPrefix">Username: </span>
                        <span class="resultText"><%= username %></span>
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>
        </article>
    </div>


    <footer>
        <div class="footer">By <em>MaximMaximS</em> 2021</div>
    </footer>
</body>

</html>