<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Simpsons Database</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  </head>

  <body>
    <nav class="menu-container">
      <a href="/" class="menu-logo">
        <img src="/assets/images/logo.png" alt="TheSimpsonsDatabase" />
      </a>
      <div class="menu">
        <ul>
          <li>
            <a href="/"> TheSimpsonsDatabase </a>
          </li>
          <li>
            <a href="/search"> Search </a>
          </li>
        </ul>
        <ul>
          <% if (username == "") { %>
          <li>
            <a href="/register"> Register </a>
          </li>
          <li>
            <a href="/login"> Login </a>
          </li>
          <% } else { %>
          <li>
            <a href="/user" class="useNormalFont"> <%= username %> </a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <div class="contentarticle">
      <article>
        <header>
          <h2>Profile</h2>
          <a href="logout">
            <button>Log out</button>
          </a>
        </header>
        <section>
          <p class="contentMessage"><%= message %></p>
          <div class="formdata">
            <div class="inputdata">
              <label for="language">Language</label>
              <select id="language" name="language" form="setlang">
                <% for ( var i=0; i < languages.length; i++ ) { %> <option
                value="<%=languages[i].value %>" label="<%=languages[i].label
                %>" <%=languages[i].value === userData.lang ? "selected" : "" %>
                > <% } %>
              </select>
            </div>
            <form action="#" method="POST" id="setlang">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div class="inputdata">
                <button type="submit" value="setlang" name="action">
                  Save
                </button>
              </div>
            </form>
          </div>
          <div class="formdata">
            <div class="inputdata">
              <label for="watched">Watched</label>
              <input
                id="watched"
                type="number"
                readonly
                name="watched"
                value="<%= userData.watched %>" />
            </div>
          </div>
        </section>
        <div class="clearfix"></div>
      </article>
    </div>

    <footer>
      <a href="https://github.com/MaximMaximS/TheSimpsonsDatabase">
        <img src="/assets/images/github.png" alt="github" /></a
      >By <em>MaximMaximS</em>
    </footer>
  </body>
</html>
